<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="static/images/magikarp.jpg" width="30" height="30" class="top-image" alt="">
      <spam class='alt-color'>Pokemon</spam>
    </a>
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <spam class='alt-color'>Home</spam>
    </a>
    <a class="navbar-brand" href="{{ url_for('pokemon_api') }}">
      <spam class='alt-color'>Pokemon API</spam>
    </a>
    <a class="navbar-brand" href="{{ url_for('about') }}">
      <spam class='alt-color'>About</spam>
    </a>
    <ul class = 'navbar-nav ml-auto'>
      {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link">{{ "{} {}".format(current_user.first_name, current_user.last_name) }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      {% endif %}
    </ul>
  </nav>